<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/form.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/customer/create}" class="form" method="post" th:object="${investmentProduct}">
        <div class="container_input">
            <label class="label" for="name"> Name: </label>
            <input class="input" id="name" required th:field="*{name}" th:maxlength="32" type="text">
        </div>
        <div class="container_input">
            <label class="label" for="destination">Destination: </label>
            <input class="input" id="destination" required th:field="*{destination}" th:maxlength="180" type="text">
        </div>
        <div class="container_input">
            <label class="label" for="profitabilityRate">Profitability Rate: </label>
            <input class="input" id="profitabilityRate" required th:field="*{profitabilityRate}" th:max="20" th:min="1" th:type="number" type="text">
        </div>
        <div class="container_input">
            <label class="label" for="term">Term: </label>
            <input class="input" id="term" required th:field="*{term}" th:max="48"
                   th:min="0"
                   type="number">
        </div>
        <div class="container_input">
            <label class="label" for="administrationTax">Administration Tax: </label>
            <input class="input" id="administrationTax" required th:field="*{administrationTax}"
                   type="number">
        </div>
        <div class="container_input">
            <label class="label" for="dueDate">Due Date: </label>
            <input class="input" id="dueDate" required th:field="*{expired}"
                   type="number">
        </div>

        <button class="button_form" type="submit">Submit</button>
    </form>
</body>
</html>